<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.ifpb"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
     <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_mini_logo"
        android:label="QManager"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.edu.ifpb.activity.SplashScreenActivity"
            android:label="QManager" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.edu.ifpb.activity.LoginActivity"
            android:label="QManager" >
        </activity>
        <activity
            android:name="br.edu.ifpb.activity.GestorActivity"
            android:label="QManager" >
        </activity>
        <activity
            android:name="br.edu.ifpb.activity.ProfessorActivity"
            android:label="QManager" >
        </activity>
        <activity
            android:name="br.edu.ifpb.activity.DiscenteActivity"
            android:label="QManager" >
        </activity>
        <activity
            android:name="br.edu.ifpb.activity.CadastrarInstituicaoFinanciadoraActivity"
            android:label="QManager" >
        </activity>
        <activity
            android:name="br.edu.ifpb.activity.CadastrarProgramaInstitucionalActivity"
            android:label="QManager" >
        </activity>
        <activity
            android:name="br.edu.ifpb.activity.CadastrarEditalActivity"
            android:label="QManager" >
        </activity>
        <activity
            android:name="br.edu.ifpb.activity.ConsultarInstituicaoFinanciadoraActivity"
            android:label="QManager" >
        </activity>
        <activity
            android:name="br.edu.ifpb.activity.ConsultarProgramaInstitucionalActivity"
            android:label="QManager" >
        </activity>
        <activity
            android:name="br.edu.ifpb.activity.ConsultarEditalActivity"
            android:label="QManager" >
        </activity>
    </application>

</manifest>