html, body {
	margin:0;
	padding:0;
	height:100%;
}

#footer {
	color: #666;
	background: #eee;
	width:100%;
    position: absolute;
    left:0;
    right: 0;
    bottom: 0;
}

.container-footer {
	width: 950px;
	margin: 0 auto;
	display: table;
	padding: 10px;
}

.logos-footer {
	width: 50%;
	float: left;
}

.logos-footer>img {
	padding: 5px;
	width: 35%;
}

.menu-footer {
	width: 45%;
	float: right;
	margin: auto 0;
}

#wrapper {
	min-height:100%;
	position:relative;
}

#header {
	background:#ededed;
	padding:10px;
}

#content {
	padding-bottom:100px; /* Height of the footer element */
}

ul{
	font-family: Arial;
}

ul li {
	list-style-type: none;
	display: inline;
	padding: 5px;
}

li>a{
	
	color: #0072C6;
}