#logo {
	color: #00b5ec;
	font-family: Verdana;
	font-size: 40px;
}

div.login {
	width: 350px;
	float: right;
	background: white;
}

@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 100;
	src: url(../resources/fontes/ubuntu.woff);
}

@font-face {
	font-family: "Maven Pro";
	font-style: normal;
	font-weight: 400;
	src: url(../resources/fontes/MavenPro.woff);
}

@font-face {
	font-family: "Icon Font";
	font-style: normal;
	font-weight: 400;
	src: url(../resources/fontes/iconFont.woff);
}

#about {
	background-color: #eee;
	color: #05F140;
	text-decoration: none;
	font-family: Icon Font;
}

h3.descricao {
	font-size: 40px;
	font-family: Ubuntu;
	width: 100%;
	color: black;
}

div.sobre {
	background-image: url("../resources/imagens/ladoss.jpg");
	background-size: 475px 340px;
}

#section {
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 4%;
}

p {
	line-height: 31px;
	font-size: 21px;
	width: 100%;
	color: black;
	font-family: "Maven Pro";
}

a.user {
	font-size: 30px;
	color: black;
	text-decoration: none;
}