<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.ifpb"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    
    <uses-permission 
        android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo100"
        android:label="QManager"
        android:theme="@style/AppTheme">
        <activity
            android:name="br.edu.ifpb.SplashScreenActivity"
            android:label="QManager" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       
        <receiver 
            android:name=".ChamadaTelefonicaBroadcast">
            <intent-filter android:priority="10">
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </receiver>
        
        <activity 
            android:name="br.edu.ifpb.MenuAplicacaoActivity"
            android:label="QManager">
        </activity>
        
        <activity 
            android:name="br.edu.ifpb.LoginActivity"
            android:label="QManager">
        </activity>
        
        <activity 
            android:name="br.edu.ifpb.GestorActivity"
            android:label="QManager">
        </activity>
        
        <activity 
            android:name="br.edu.ifpb.DocenteActivity"
            android:label="QManager">
        </activity>
        
        <activity 
            android:name="br.edu.ifpb.DiscenteActivity"
            android:label="QManager">
        </activity>
        
        <activity 
            android:name="br.edu.ifpb.FormularioDocenteActivity"
            android:label="QManager">
        </activity>
        
        <activity 
            android:name="br.edu.ifpb.LoginGestorActivity"
            android:label="QManager">
        </activity>
        
        <activity 
            android:name="br.edu.ifpb.ImprimirInformacaoActivityDocente"
            android:label="QManager">
        </activity>
        
        <activity 
            android:name="br.edu.ifpb.FormularioDiscenteActivity"
            android:label="QManager">
        </activity>
        
        <activity 
            android:name="br.edu.ifpb.ImprimirInformacaoActivityDiscente"
            android:label="QManager">
        </activity>
        
    </application>

</manifest>
