body{
	background: #e9eaed;
}
#imagem{
	border-radius: 100px;
	height: 120px;
	width: 120px;
}

div.nav{
	margin-top: 1%;
	width:20%;
	float: left;
	text-align:center;
}

div.section{
	margin-top: 1%;
	margin-left: 1%;
	float: left;
	width:79%; 
}
/* style="margin-right:auto; margin-left:auto; */