body {
	background: #F5F5F5;
	background-size: 100%;
}

div.all {
	height: 100%;
	width: 100%;
}

header {
	background: #1E90FF;
}

nav>ul>li>a {
	color: white;
}

aside.conf {
	width: 100%;
	background: #E8E8E8;
	border-radius: 10px;
}

aside>ul>li {
	text-align: center;
}

aside>ul>li>a {
	color: black;
}

aside>ul>li>a>img {
	height: 20%;
	width: 60%;
	border-radius: 100px;
}

div.asid {
	float: left;
	width: 20%;
}

span {
	color: white;
}

section {
	width: 80%;
	float: left;
}

ul li {
	list-style-type: none;
	display: inline;
}

footer {
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 10%;
}