#logo {
	color: #00b5ec;
	font-family: Verdana;
	font-size: 40px;
}

div.login {
	width: 400px;
	float: right;
	margin-right: 13%;
	margin-top: 10%;
	background: white;
	border-radius: 10px;
}

body {
	background-image: url(../resources/imagens/ifpbfrente.png);
	background-repeat: no-repeat; background-position : center;
	background-attachment : fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 100;
	src: url(../resources/fontes/ubuntu.woff);
}

@font-face {
	font-family: "Maven Pro";
	font-style: normal;
	font-weight: 400;
	src: url(../resources/fontes/MavenPro.woff);
}

h3 {
	font-size: 40px;
	font-family: Ubuntu;
	width: 100%;
	color: white;
}

p {
	line-height: 31px;
	font-size: 21px;
	width: 100%;
	color: white;
	font-family: "Maven Pro";
}