#logo{
	color: #00b5ec;
	font-family: Verdana;
	font-size:40px;

}

body{
	background: url("../imagens/ifpb.png");
	background-size: 100%;	
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 100;
  src: url(fontes/ubuntu.woff);
}

@font-face {
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 400;
  src: url(fontes/MavenPro.woff);
}

h1{

	font-size:40px;
	font-family: Ubuntu;
}

p{


font-family:Maven Pro;
line-height: 31px;
font-size: 21px;

}

table{
	border: 2px solid gray;
	font-family: serif;
	font-size: 30px;
	
	background:white;
	padding: 40px;
	border-radius: 10px;
	border-spacing:10px;
	
}

a{
	text-decoration:none;
	color:black;
}

a:visited{

	color: black;

}

nav{
	
	float:right;
	margin-top: 9%;
	margin-right: 3%;
}

aside{
	
	float:left;
	text-align:left;
	margin-left: 13%;
	margin-top: 8%; /*7%*/
	color: white;
	width:40%;

}