body{
	background: #F5F5F5;
	background-size: 100%;

}

header{

	background: #1E90FF;

}

nav>ul>li>a{

	color: white;
}

section{

	width: 94%;
	border-left: 3%;
	border-right: 3%;
}

ul li{

	list-style-type:none;
	display:inline;
}