#logo {
	color: #00b5ec;
	font-family: Verdana;
	font-size: 40px;
}

body {
	background: url("../imagens/ifpb.png");
	background-size: 100%;
}

@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 100;
	src: url(../fontes/ubuntu.woff);
}

@font-face {
	font-family: "Maven Pro";
	font-style: normal;
	font-weight: 400;
	src: url(../fontes/MavenPro.woff);
}

h3 {
	font-size: 40px;
	font-family: Ubuntu;
	width: 100%;
	color: white;
}

p {
	
	line-height: 31px;
	font-size: 21px;
	width: 100%;
	color: white;
}